<div class="banner__area-2 pb-60">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6">
                <div class="banner__item-2 banner-right p-relative mb-30 pr-15">
                    <div class="banner__thumb fix">
                        <a href="product-details.html" class="w-img"><img src="{{ 'assets/images/tradein-promo-marantz.jpg' | theme }}" alt="banner"></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class=" banner__item-2 banner-left p-relative mb-30 pl-15">
                    <div class="banner__thumb fix">
                        <a href="product-details.html" class="w-img"><img src="{{ 'assets/images/tradein-promo-marantz.jpg' | theme }}" alt="banner"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>