<section class="product__area pt-60 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Trending Products</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="product__banner p-relative">
            <div class="product__banner-inner p-absolute fix d-none d-lg-block">
                <div class="product__banner-img">
                    <a href="product-details.html"><img src="{{ 'assets/images/senheiser2.jpg' | theme }}" alt="product-banner"></a>
                </div>
                <div class="product__banner-content p-absolute">
                    <h4 class="text-orange"><a href="product-details.html">Sennheiser</a></h4>
                    <h4>Ambeo Soundbar Premium</h4>
                    <p><a href="product-details.html">Powered by 13 high-end drivers, the AMBEO Soundbar delivers a 5.1.4 sound experience while also producing extremely deep 30Hz bass without the need for an extra subwoofer.</a></p>
                    <a href="product-details.html" class="link-btn">discover now</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6">
                    <div class="product__slider-2 owl-carousel">
                        <div class="product__item">
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/images/g345EV30BG-F.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/images/g345EV30BG-B.jpg' | theme }} " alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4 class="text-orange"><a href="product-details.html">DYNAUDIO</a></h4>
                                        <h4>Evoke 30 Floorstanding Speaker</h4>
                                        <p>Contour 30 steps it up a notch from the 20. Of course, it still treads the same path – one of honesty, transparency and sheer entertainment, but it puts it all in a bigger package.</p>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/images/cxa81.png' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/images/20190911024616_Cambridge-Audio-cxa81-frontWeb.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>
                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                        <span class="percent">-16%</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4 class="text-orange"><a href="product-details.html">CAMBRIDGE AUDIO</a></h4>
                                        <h4>CXA81 Integrated Amplifier</h4>
                                        <p>The all-new CXA61 and CXA81 integrated amplifier build on the foundations laid (and the Awards won) by CXA60 and CXA80 but with a fresh and progressive perspective.</p>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/images/Harman-JBL-L100_Grills-Group-W-Stand_RT-1605x1605px.png' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/images/Harman-JBL-L100_ONG_Pair_Hero-RT-1605x1605px.png' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                        <span class="percent">-16%</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4 class="text-orange"><a href="product-details.html">JBL</a></h4>
                                        <h4>L100 Classic w/ JS120 Original Stand</h4>
                                        <p>Retro design with iconic JBL styling and vintage Quadrex foam grille in a choice of three colors: black, orange or blue</p>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/images/cayin.png' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/images/cayin-2.png' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4 class="text-orange"><a href="product-details.html">CAYIN</a></h4>
                                        <h4>CS-88A/KT88 Vacuum Tube Integrated Amplifier</h4>
                                        <p>Hand-made construction with the finest point-to-point wiring. Two EI output transformers with wide bandwidth are applied. Specially designed toroid transformer for power supply. Two 6SL7 and two 6SN7 tubes are used in the preamp stage.</p>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-3.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-8.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-7.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-1.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>
                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                        <span class="percent">-16%</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-4.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-12.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                        <span class="percent">-16%</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-8.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-3.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-5.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-11.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>

                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__wrapper mb-60">
                                <div class="product__thumb">
                                    <a href="product-details.html" class="w-img">
                                        <img src="{{ 'assets/img/shop/product/product-4.jpg' | theme }}" alt="product-img">
                                        <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-1.jpg' | theme }}" alt="product-img">
                                    </a>
                                    <div class="product__action transition-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                            <i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                            <i class="fal fa-sliders-h"></i>
                                        </a>
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#productModalId">
                                            <i class="fal fa-search"></i>
                                        </a>
                                    </div>
                                    <div class="product__sale">
                                        <span class="new">new</span>
                                    </div>
                                </div>
                                <div class="product__content p-relative">
                                    <div class="product__content-inner">
                                        <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                        <div class="product__price transition-3">
                                            <span>$96.00</span>
                                            <span class="old-price">$96.00</span>
                                        </div>
                                    </div>
                                    <div class="add-cart p-absolute transition-3">
                                        <a href="#">+ Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>