<section class="sale__area pb-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Latest Products</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Here you can find our latest audio gears. Curated by our team, these products offer the best performance & value in audio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="sale__area-slider-2 owl-carousel">
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/H120Front.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/H120Back.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">new</span>
                                    <span class="percent">-16%</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">HEGEL</a></h4>
                                    <h4>H120 Integrated Amplifier</h4>
                                    <p>The digital-to-analog conversion is of the highest quality in the H120, with technology crafted from the ground up by Hegel.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/H190Front.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/H190BackTerminals.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">HEGEL</a></h4>
                                    <h4>H190 Integrated Amplifier</h4>
                                    <p>The H190 is an amplifier with DLNA streaming capabilities that can play music from any streaming platform including AirPlay.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/H120Front.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/H120Back.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">new</span>
                                    <span class="percent">-16%</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">HEGEL</a></h4>
                                    <h4>H120 Integrated Amplifier</h4>
                                    <p>The digital-to-analog conversion is of the highest quality in the H120, with technology crafted from the ground up by Hegel.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/H190Front.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/H190BackTerminals.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">HEGEL</a></h4>
                                    <h4>H190 Integrated Amplifier</h4>
                                    <p>The H190 is an amplifier with DLNA streaming capabilities that can play music from any streaming platform including AirPlay.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/s3-2.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/s3-4.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">POLK AUDIO</a></h4>
                                    <h4>Signa S3 Soundbar w/ Wireless Subwoofer Support 4k 8k</h4>
                                    <p>Polk Audio Signa S3 Ultra-Slim TV Sound Bar and Wireless Subwoofer with Built-in Chromecast | Works with 8K, 4K & HD TVs | Wi-Fi, Bluetooth | Voice Commands with Google Assistant</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/qedxt40i-4.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/qedxt40i-3.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">QED</a></h4>
                                    <h4>Reference XT40i Speaker Cable harga permeter tanpa Banana Plug</h4>
                                    <p>QED's brand new XR40i speaker cable build the formadable reputation of the XR40 cable it replaces and offers a decisive step up in sound quality.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/n9x.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/n9x.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">NAKAMICHI</a></h4>
                                    <h4>N9X Wireless Microphone Black Rose Gold Black</h4>
                                    <p>Nakamichi N9X Microphone adalah Mic Multi-Channel Wireless microphone buatan nakamichi yang berkualitas tinggi dan menghasilkan suara yang jernih dan ringan dalam bernyanyi.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/AudiolabMONEwithDiamond121.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/awardevo4.4.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">new</span>
                                    <span class="percent">-10%</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">PROMO BUNDLING</a></h4>
                                    <h4>Audiolab M-One M One & Wharfedale Diamond 12.1 12 1</h4>
                                    <p>The true all-rounder, the Wharfedale DIAMOND 12.1 is a traditional standmount (or bookshelf) speaker that embodies the history and performance values of the Wharfedale DIAMOND series.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/n9x.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/n9x.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">NAKAMICHI</a></h4>
                                    <h4>N9X Wireless Microphone Black Rose Gold Black</h4>
                                    <p>Nakamichi N9X Microphone adalah Mic Multi-Channel Wireless microphone buatan nakamichi yang berkualitas tinggi dan menghasilkan suara yang jernih dan ringan dalam bernyanyi.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/images/AudiolabMONEwithDiamond121.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/images/awardevo4.4.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">new</span>
                                    <span class="percent">-10%</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4 class="text-orange"><a href="shop-details.html">PROMO BUNDLING</a></h4>
                                    <h4>Audiolab M-One M One & Wharfedale Diamond 12.1 12 1</h4>
                                    <p>The true all-rounder, the Wharfedale DIAMOND 12.1 is a traditional standmount (or bookshelf) speaker that embodies the history and performance values of the Wharfedale DIAMOND series.</p>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sale__item">
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/img/shop/product/product-6.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-2.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="shop-details.html">Wooden container Bowl</a></h4>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__wrapper mb-60">
                            <div class="product__thumb">
                                <a href="product-details.html" class="w-img">
                                    <img src="{{ 'assets/img/shop/product/product-11.jpg' | theme }}" alt="product-img">
                                    <img class="product__thumb-2" src="{{ 'assets/img/shop/product/product-2.jpg' | theme }}" alt="product-img">
                                </a>
                                <div class="product__action transition-3">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                        <i class="fal fa-sliders-h"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a href="#" data-toggle="modal" data-target="#productModalId">
                                        <i class="fal fa-search"></i>
                                    </a>

                                </div>
                                <div class="product__sale">
                                    <span class="new">new</span>
                                    <span class="percent">-16%</span>
                                </div>
                            </div>
                            <div class="product__content p-relative">
                                <div class="product__content-inner">
                                    <h4><a href="shop-details.html">Wooden container Bowl</a></h4>
                                    <div class="product__price transition-3">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                </div>
                                <div class="add-cart p-absolute transition-3">
                                    <a href="#">+ Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>