<section class="slider__area slider__area-2 p-relative pl-15 pr-15">
    <div class="slider-active">
        <div class="single-slider single-slider-2 slider__height-2 d-flex align-items-center" data-background="{{ 'assets/images/Evoke20.jpg' | theme }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10 col-12">
                        <div class="slider__content slider__content-black slider__content-3 pl-250">
                            <h2 data-animation="fadeInUp" data-delay=".2s">Lighting <br> Creative Furniture</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">From luxury watches and chronographs to wall clocks and weather stations, Henning Koppel's.</p>
                            <a href="#" class="os-btn os-btn-white" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-2 slider__height-2 d-flex align-items-center" data-background="{{ 'assets/images/Sennheiser800x400.jpg' | theme }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10 col-12">
                        <div class="slider__content slider__content-3 pl-250">
                            <h2 data-animation="fadeInUp" data-delay=".2s">Clock <br> Creative Furniture  </h2>
                            <p data-animation="fadeInUp" data-delay=".4s">From luxury watches and chronographs to wall clocks and weather stations, Henning Koppel's.</p>
                            <a href="#" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-2 slider__height-2 d-flex align-items-center" data-background="{{ 'assets/images/ab3000.jpg' | theme }}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10 col-12">
                        <div class="slider__content slider__content-3 pl-250">
                            <h2 data-animation="fadeInUp" data-delay=".2s">Drop Chair <br>
                                The Black Leather Edition</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">The Drop™ chair was designed by Arne Jacobsen in 1958 as part of his masterpiece, the legendary Radisson Blu Royal Hotel in Copenhagen.</p>
                            <a href="#" class="os-btn os-btn-2" data-animation="fadeInUp" data-delay=".6s">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>