<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Audio Centre - Indonesia No.1 Home Audio System Online Shop </title>
        <meta name="description" content="Toko Audio System Online Shop No 1 di indonesia, Jual Home Theater, Jual Home Audio, Karaoke Set, Jual Yamaha Receiver, Jual Pioneer dan Onkyo">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicon.png' | theme}}">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="{{'assets/css/preloader.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/slick.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/metisMenu.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/owl.carousel.min.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/animate.min.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/jquery.fancybox.min.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/fontAwesome5Pro.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/ionicons.min.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/default.css' | theme}}">
        <link rel="stylesheet" href="{{'assets/css/style.css' | theme}}">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->  

        <!-- prealoder area start -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                </div>
            </div>      
        </div>
        <!-- prealoder area end -->
        
        <!-- header area start -->
        {% partial 'site/header' %}
        <!-- header area end -->

        <!-- scroll up area start -->
        {% partial 'site/scrollup' %}
        <!-- scroll up area end -->

        <!-- search area start -->
        {% partial 'site/searcharea' %}
        <!-- search area end -->

        <!-- extra info area start -->
        {% partial 'site/extrainfo' %}
        <!-- extra info area end -->

        <main>
            {% page %}
        </main>

        <!-- footer area start -->
        {% partial 'site/footer' %}
        <!-- footer area end -->
		<!-- JS here -->
        <script src="{{'assets/js/vendor/modernizr-3.5.0.min.js' | theme}}"></script>
        <script src="{{'assets/js/vendor/jquery-3.5.1.min.js' | theme}}"></script>
        <script src="{{'assets/js/vendor/waypoints.min.js' | theme}}"></script>
        <script src="{{'assets/js/bootstrap.bundle.min.js' | theme}}"></script>
        <script src="{{'assets/js/metisMenu.min.js' | theme}}"></script>
        <script src="{{'assets/js/slick.min.js' | theme}}"></script>
        <script src="{{'assets/js/jquery.fancybox.min.js' | theme}}"></script>
        <script src="{{'assets/js/isotope.pkgd.min.js' | theme}}"></script>
        <script src="{{'assets/js/owl.carousel.min.js' | theme}}"></script>
        <script src="{{'assets/js/jquery-ui-slider-range.js' | theme}}"></script>
        <script src="{{'assets/js/ajax-form.js' | theme}}"></script>
        <script src="{{'assets/js/wow.min.js' | theme}}"></script>
        <script src="{{'assets/js/imagesloaded.pkgd.min.js' | theme}}"></script>
        <script src="{{'assets/js/main.js' | theme}}"></script>
    </body>
</html>
